.main {
    width: 100%;
    float: left;
    overflow: auto;
    clear: both;
}

.post {
    background-color: blueviolet;
    margin-bottom: 32px;
}

.postHeader {
    padding: 1rem 0.4rem;
    background-color: green;
    font-size: 1.2rem;
}

.postContent {
    padding: 0.4rem;
    text-indent: 1rem;
}

.right {
    float: right;
    overflow: auto;
    clear: right;
}