.latestLogins {
    background-color: #CCC;
    border: 1px solid white;
    border-radius: 12px;
    text-indent: 0.4rem;
    margin-bottom: 0.4rem;
}

.logins {
    list-style-type: none;
    margin-bottom: 0.4rem;
}