.list {
    width: 100%;
    margin: 0 auto;
    display: grid;
    align-items: center;
}

.list p {
    font-size: 1.2rem;
    margin-left: 2%;
}

.noSoldItems {
    font-size: 1.2rem;
    margin: 2%;
    padding: 1rem;
    background-color: #df4759;
    border: 2px solid #f8d7da;
    border-radius: 8px;
    color: white;
}