.posts {
    background-color: #CCC;
    border: 1px solid white;
    border-radius: 12px;
}

.recentPosts {
    text-indent: 0.4rem;
}

.post {
    margin-left: 2%;
    margin-bottom: 2%;
}

.userPosts {
    margin-right: 2%;
    text-align: right;
}

.userPosts a:hover {
    text-decoration: none;
}