.footer {
    margin: 0 auto;
    height: 100%;
    border: 2px solid green;
    border-radius: 8px;
}

.social {
    display: block;
}

.social ul {
    text-align: right;
    list-style-type: none;
}

.social ul li {
    margin: 0 0.4rem;
    display: inline-block;
}

.social img {
    width: 36px;
    height: 100%;
}

.social img:hover {
    cursor: pointer;
}

.copyright {
    text-align: center;
}