.footer {
    margin: 0 auto;
    height: 100%;
    border: 2px solid green;
    border-radius: 8px;

    .social {
        display: block;

        ul {
            text-align: right;
            list-style-type: none;
        }

        ul li {
            margin: 0 0.4em;
            display: inline-block;
        }

        img {
            width: 36px;
            height: 100%;
        }

        img:hover {
            cursor: pointer;
        }
    }

    .copyright {
        text-align: center;
    }
}