.list {
    margin: 0 auto;

    p, .filteredSoldItems, .noSoldItems {
        font-size: 1.2rem;
        margin-left: 2%;
    }

    .filteredSoldItems, .noSoldItems {
        padding: 1em;
        border-radius: 8px;
        color: white;
    }

    .filteredSoldItems {
        background-color: #5bb367;
        border: 2px solid #5bb367;
    }

    .noSoldItems {
        background-color: #df4759;
        border: 2px solid #f8d7da;
    }

    .page {
        color: black;
        padding: 0.5em;
        border: 1px solid #dcdcdc;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.25s linear;

        a {
            color: black;
        }
    }

    .page:hover {
        background-color: #465d9e;
        border: 2px solid #465d9e;

        a {
            color: white;
        }
    }

    .disabled {
        cursor: not-allowed;
    }

    .break {
        padding: 10px;
    }
}
