.actions {
    width: 100%;
    display: inline-block;
    overflow: auto;

    button {
        font: inherit;
        cursor: pointer;
        color: white;
        padding: 0.5em;
        border-radius: 4px;
        font-weight: bold;
    }

    .edit {
        background-color: #6e93f8;
        border: 1px solid #6e93f8;
    }

    .edit:hover, .edit:active {
        background-color: #465d9e;
        border-color: #465d9e;
    }
}