.card {
    width: 90%;
    padding: 0;
    margin: 2rem auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.right {
    text-align: right;
}

.timestamps {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.timestamps span {
    padding: 0;
    margin: 0.5rem 1rem;
    font-size: 0.8rem;
}

.titleImage {
    text-align: center;
}

.title {
    font-size: 2rem;
    color: black;
}

.title:hover {
    cursor: pointer;
}

.image {
    display: block;
    margin: 0 auto;
    background-color: white;
    border: 2px solid #AAA;
    border-radius: 8px;
    width: 200px;
    height: 100%;
}

.soldItemDetails {
    display: grid;
    margin: 1.2rem;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2rem;
}

.actions {
    width: 100%;
    display: inline-block;
    overflow: auto;
}

.actions button {
    font: inherit;
    cursor: pointer;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    font-weight: bold;
    margin: 0 0.5rem;
}

.actions .left {
    margin-left: 1rem;
    float: left;
}

.actions .right {
    margin-right: 1rem;
    float: right;
}

.actions .edit {
    background-color: #6e93f8;
    border: 1px solid #6e93f8;
}

.actions .edit:hover, .actions .edit:active {
    background-color: #465d9e;
    border-color: #465d9e;
}

.actions .delete {
    background-color: #e92020;
    border: 1px solid #e92020;
}

.actions .delete:hover, .actions .delete:active {
    background-color: #bd5858;
    border-color: #bd5858;
}
