.categoryList {
    list-style-type: none;
}

.category {
    background-color: #ddd;
    margin: 0.5rem 0;
    clear: both;
    padding: 0.5rem 0;
    overflow: auto;
    border: 4px solid white;
    border-radius: 12px;
}

.name {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    float: left;
}

.actions {
    margin-right: 0.5rem;
    float: right;
}