.form {
    padding: 1em;

    input, select {
        border-radius: 6px;
        border: 1px solid #ccc;
        padding: 0.25em;
    }

    .actions {
        button {
            font: inherit;
            background-color: #6e93f8;
            padding: 0.5em 1.5em;
            border: 1px solid #6e93f8;
            border-radius: 6px;
        }

        button:hover, button:active {
            background-color: #465d9e;
            border-color: #465d9e;
        }
    }
}