.form {
    padding: 1em;

    input, select {
        border-radius: 6px;
        border: 1px solid #ccc;
        padding: 0.25em;
    }

    .actions {
        gap: 0.5em;

        button {
            font: inherit;
            padding: 0.5em 1.5em;
            border-radius: 6px;
        }

        .filter {
            background-color: #6e93f8;
            border: 1px solid #6e93f8;
        }

        .filter:hover, .filter:active {
            background-color: #465d9e;
            border-color: #465d9e;
        }

        .showAll {
            background-color: #20e92a;
            border: 1px solid #20e92a;
        }

        .showAll:hover, .showAll:active {
            background-color: #5bb367;
            border-color: #5bb367;
        }
    }
}